

    <div class="row-fluid" id="spotEditView">
<form class="form-horizontal span12">
    <fieldset>
        <div id="legend" class="">
            <legend class="">Create Spot</legend>
        </div>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" placeholder="Your username" class="input-xlarge" name="username" value="<%= username %>">
                <p class="help-block">Something unique and descriptive</p>
            </div>
        </div>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="input01">Email</label>
            <div class="controls">
                <input type="text" placeholder="Your email" class="input-xlarge" name="email" value="<%= email %>">
                <p class="help-block">Something unique and descriptive</p>
            </div>
        </div>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" placeholder="Password" class="input-xlarge" name="password" >
                <p class="help-block">Something unique and descriptive</p>
            </div>
        </div>
        <div class="control-group">
            <!-- Text input-->
            <label class="control-label" for="password2">Password repeat</label>
            <div class="controls">
                <input type="password" placeholder="Password repeat" class="input-xlarge" name="password2" >
                <p class="help-block">Something unique and descriptive</p>
        </div>




            <div class="form-actions">
            <a class="btn btn-primary save">Save</a>
            <a href="#map" class="btn btn-primary cancel">Cancel</a>
        </div>
    </fieldset>
    <div class="row status-bar">
        <div class="span12">
            <div class="alert alert-success" style="display: none">
                <b>Success!</b> Wine saved successfully
            </div>
        </div>
    </div>
</form>

